.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}

.site-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    text-align: center;
}

.container1 {
    display: flex;
    flex-direction: row;
}

.container1 > li {
    background: lightblue;
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    
}

.container2 {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 20px;  
}

.container2 > li {
    border: lightblue dotted 5px;
    display: inline-block;
}

.container3 {
    display: flex;
    flex-direction: row;

}


body {
    background: black;
    color: hotpink;
    font-family: "Roboto", sans-serif;
}

h1 {
    font-style: italic;
    font-size: x-large;
    font-weight: bold;
    color: pink;
    width: 200px;
    margin: 0 auto;
    align-content: center;

}

#About {
    align-content: center;
    width:200px;
    border: turquoise 3px solid;
    margin: 0 auto;
    padding: 10px;
}

#Experience {
    align-content: center;
    width: 100%;
    margin: 0 auto;
}

#Connect {
    align-content: center;
    width: 200px;
    border: turquoise 3px solid;
    margin: 0 auto;
    padding: 10px;
}
a {
    font-style: normal;
}

a:link {
    color: red;
}

a:hover {
    color: green;
}

a:active {
    color: yellow;
}

a:visited {
    color: orange;
}

ul {
    list-style-type: none;
}

ul a {
    text-decoration: none;
}

li {
    
    margin: 0 auto;

}