.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}

.site-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.container1 {
    display: flex;
    justify-content: center;
    
}

.container1 > li {
    background: lightblue;
    list-style-type: none;
    display: inline-block;
    padding: 10px; 
    text-align: center;
    
}

.container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    row-gap: 2rem;
    text-align: center;
    font-size: x-large;
    background-color: none;
    padding: 1rem;    
}


.container3 {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

#Skills ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    text-align: center;
    font-size: x-large;
    background-color: none;
    padding: 1rem;    

}


body {
    background: black;
    color: hotpink;
    font-family: "Roboto", sans-serif;
}

h1 {
    display: flex;
    justify-content: center;
    align-content: center;
    font-style: italic;
    font-size: xx-large;
    font-weight: bold;
    color: pink;
    /*align-content: center;*/

}

#About {
    align-content: center;
    width: max-width;
    border: turquoise 3px solid;
    margin: 0 auto;
    padding: 10px;
}

#Experience {
    align-content: center;
    width: max-width;
    margin: 0 auto;
}

#Connect {
    align-content: center;
    width: max-width;
    border: turquoise 3px solid;
    margin: 0 auto;
    padding: 10px;
}
a {
    font-style: normal;
}

a:link {
    color: red;
}

a:hover {
    color: green;
}

a:active {
    color: yellow;
}

a:visited {
    color: orange;
}

ul {
    list-style-type: none;
}

ul a {
    text-decoration: none;
}

li {
    
    margin: 0 auto;

}

@media (max-width: 1000px) {

    .container2 {
        font-size: larger;
        background-color: rgb(211, 29, 29);
    }

    #Skills li {
        border-bottom: 5px solid rgb(211, 29, 29);
        padding: 1rem;
    }

    h1 {
        font-size: x-large;
        color: rgb(105, 250, 255);

    }

    body {
        background: rgb(3, 109, 3);
        color: pink;
    }
}

@media (max-width: 500px) {
    .container2 {
        font-size: medium;
        background-color: rgb(27, 27, 205);
    }

    #Skills li {
        border-bottom: 5px solid rgb(27, 27, 205);
        padding: .5rem;
    }

    h1 {
        font-size: larger;
        color: hotpink;
    }
    body {
        background: rgb(183, 110, 8);
        color: rgb(105,250,255);
    }

}